@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: sans-serif;
}

.ch {
  max-width: 64ch;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #111;
}

.fadeIn {
  animation: fadeOut 1s ease-in;
}

.fadeInPoster {
  animation: fadeOutPoster 0.5s ease-in;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutPoster {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 40px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #9333ea;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
